[core]
    excludesfile = ~/.gitignore
    editor = vim
[alias]
    st = status
    br = branch
    cm = commit -m
[user]
    name = konafx
    email = kon0409warp@gmail.com
[push]
	default = matching
