# Compiled Object files
*.o

# Executale
*.out
*.exe

.DS_Store   # Macの一時ファイル
*.log       # Rails等のログファイル
*.sqlite    # SQLite3のDBファイル
*.swp       # Vimの一時ファイル
*.swo       # Vimの一時ファイル
*~          # Emacsの一時ファイル
*.un~       # VimのUndo情報を保存したファイル
*.ini       # desktop.ini

# pyton
__pycache__/
*.py[cod]

#Cmake
cmake*
CMake*
CMakeFiles/*
Makefile

# Java
.metadata/

# ??
*.*~

# exclusion dir
backup
batch
log
tmp

# IF .gitignore do not reflect, do it.
# git rm -r --cached .
# git add .
# git commit -m ".gitignore is now working"
# git push origin master
