abbrevs:
  - name: c
    abbr: c
    snippet: cdr

  - name: ..
    abbr: ..
    snippet: cdr ../

    # ls to eza {{{
  - name: l
    abbr: l
    snippet: eza -blF

  - name: ls
    abbr: ls
    snippet: eza --git --group-directories-first

  - name: la
    abbr: la
    snippet: eza -a

  - name: ll
    abbr: ll
    snippet: eza -l

  - name: lla
    abbr: lla
    snippet: eza -labghimu

  - name: tree
    abbr: tree
    snippet: eza --tree
    # }}}

    # historyに日付を表示
  - name: h
    abbr: h
    snippet: fc -lt '%F %T' 1

  - name: safe
    abbr-pattern: ^(cp|mv|rm)$
    snippet: $abbr -i
    evaluate: true

  - name: mkdir with parents
    abbr: mkdir
    snippet: mkdir -p

  - name: diff
    abbr: diff
    snippet: diff -U1

  - name: curl
    abbr: curl
    snippet: curl --compressed

  - name: tmux -u
    abbr: t
    snippet: tmux -u

    # docker {{{
  - name: d
    abbr: d
    snippet: docker

  - name: dc
    abbr: dc
    snippet: docker compose

  - name: docker compose
    abbr-pattern: ^co?$
    snippet: compose
    global: true
    context: '^docker\s+'
    # }}}

    # suffix {{{
  - name: '>/dev/null 2>&1'
    abbr: 'null'
    snippet: '>/dev/null 2>&1'
    global: true
    # }}}
